# node modules
/node_modules

# Vite build output
/dist

# local environment files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# IDE configs
.vscode/
.idea/
.DS_Store

# coverage/test
coverage/
*.local

# Optional: macOS system files
*.DS_Store
